# ================= PROFILE =================
SPRING_PROFILES_ACTIVE=prod

# ================= DATABASE =================
MYSQLHOST=your-db-host
MYSQLPORT=3306
MYSQLDATABASE=gymdb
MYSQLUSER=root
MYSQLPASSWORD=your-password

# ================= MAIL =================
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password

# ================= RAZORPAY =================
RAZORPAY_KEY=your-key
RAZORPAY_SECRET=your-secret